@{
    ViewData["Title"] = "Home Page";
}

<div class="container-md shadow p-3 mb-5 rounded">
    <h4 class="mb-3 text-center">Feedback form</h4>
    @using (Html.BeginForm(FormMethod.Post, new { id = "feedbackform" }))
    {
        @Html.AntiForgeryToken()
        <div class="row mb-3">
            <label for="customername" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="customername" name="customername">
            </div>
        </div>
        <div class="row mb-3">
            <label for="emailaddress" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="emailaddress" name="emailaddress">
            </div>
        </div>

        <div class="row mb-3">
            <label for="feedbacktype" class="col-sm-2 col-form-label">Feedback type</label>
            <div class="col-sm-10">
                <select class="form-select" id="feedbacktype" name="feedbacktype">
                    <option value="">Choose...</option>
                    <option value="10000">Epic</option>
                    <option value="10001">Improvement</option>
                    <option value="10002">Task</option>
                    <option value="10003">Sub-task</option>
                    <option value="10004">New Feature</option>
                    <option value="10005">Bug</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="feedbackmessage" class="col-sm-2 col-form-label">Message </label>
            <div class="col-sm-10">
                <textarea class="form-control" id="feedbackmessage" name="feedbackmessage" rows="3"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <label for="appversion" class="col-sm-2 col-form-label">App version</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="appversion" name="appversion">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }   
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}